* {
  align-items: center;
}

.app {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn__class__wrapper {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: #ddbea9;
  display: flex;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: lighter;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: lighter;
}
.login {
  display: flex;
  margin: 0 auto;
  height: 50px;
  width: 100px;
  text-align: center;
  align-items: center;
}

.loginContainer {
  margin: 0 auto;
}

.logoutContainer {
  margin: 0 auto;
}

.logoutContainer h1 {
  color: green;
  font-size: 17px;
}

.loginContainer h1 {
  color: red;
  font-size: 17px;
}

.users {
  display: flex;
  margin: 10px;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
  text-align: center;
}
